.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: : 1fr 1fr 3fr;
  border: 5px solid black;
}
.heading {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
  border: 5px solid black;
}

.profile {
  grid-column: 1;
  display: inline-block;
  margin: 0 auto;
}

.questions {
  grid-column: 2;
  display:inline-block;
  margin: 0 auto;
}


.left {
  grid-column: 3;
}

.right {
  grid-column:3;
}

.right p {
  text-align: center;
  font-size: 100px;
}
.profile {
  display: inline-block;
}

.left img {
  height: 175px;
  width: 20%;
  display: inline-block;
  border: 5px solid black;

}

.right input {
  height: 100px;
  width: 700px;
  display: inline-block;
  margin-right: 1em;
}
input[type="text"] {
  font-size: 75px;
}

#q2 , #q3 , #q4 , #q5{
  font-size: 50px;
  width: 700px;
}

#start {
  font-size: 50px;
  width: 350px;
  height: 200px;
}

.enter {
  height: 100px;
  font-size:50px;
  width: 150px;
  display: inline-block;
}
