.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: : 1fr 1fr 3fr;
  border: 5px solid black;
}
.heading {
  display: grid;
  grid-row: 2;
  grid-template-columns: 1fr 1fr;
  border: 5px solid black;
}

.profile {
  grid-column: 1;
  display: inline-block;
  margin: 0 auto;
}

.questions {
  grid-column: 2;
  display:inline-block;
  margin: 0 auto;
}

.content {
  grid-row: 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  grid-column: 1;
}

.right {
  grid-column:2;
}

.right p {
  text-align: center;
}
.profile {
  display: inline-block;
}

.left img {
  height: 175px;
  width: 40%;
  display: inline-block;
  border: 5px solid black;

}
